
/* ----- MAIN LAYOUT -----*/
.site-main {
    display: grid;
    grid-template-columns: 85px 1fr 1fr 85px;
    grid-template-rows: 120px auto auto 1fr;
    grid-template-areas: 
    " title title title title "
    " main-table main-table main-table main-table ";
}

/* ----- TABLE SECTION -----*/
main {
    padding-bottom: 0px;
    margin: 0 20px;
}

.sorting-asc:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

th
{
    font-size: 15%;
}

#container 
{
    min-height: 100%;
}

.title {
    grid-area: title;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    align-self: center;
}

.main-table {
    grid-area: main-table;
    text-align: center;
}



