
img {
    justify-self: center;
}

h2 {
    font-size: 30px;
}



.site {
    display: grid;
    grid-template-columns: .1fr 1fr .1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    ". . ."
    " . login . "
    ". . .";
}

.login {
    grid-area: login;
    display: grid;
    grid-template-columns: 800px;
    grid-template-rows: 100px;
    border: 1px solid black;

    justify-self: center;
    text-align: center;
}

input {
    display: block;
    margin: auto;
    margin-bottom: 1em;
    font-size: 50px;
}

button {
    display: block;
    justify-self: center;
    font-size: 30px;
    height: 60px;
}

button p {
    text-align: center;
    align-self: center;
    justify-self: center;
}

.status-message {
    color: rgb(199, 61, 61);
}