/*DESKTOP Changes*/
@media only screen and (min-width: 767px) {

    main {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../resources/img/member-login-bg.jpg");
        background-size: cover;
        background-attachment: fixed;
    }

    .login-section {
        background-color: rgb(241, 241, 241);
        padding: 20px;
        margin: auto 0;
    }

    input {
        background-color: rgb(241, 241, 241);
    }
}