
.site {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
    ". . ."
    " . login . "
    ". . .";

    font-size: 1rem;
}

.login {
    grid-area: login;
    justify-items: center;
    text-align: center;
    border: 1px solid black;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

input, button {
    display: block;
    margin: auto;
    margin-bottom: 1em;
}

h2 {
    font-size: 15pt;
}

p {
    font-size: 10pt;
}

.status-message {
    color: rgb(199, 61, 61);
}

