.dropdown-menu {
    font-size: inherit;
}

.action-list-all {
    text-align: left;
    margin-bottom: 20px;
}

.action-link:link, .action-link:visited {
    color: #212529;
    text-decoration: none;
}

.show-entries {
    text-align: left;
}

