
/*Global Footer Layout*/


.site-footer {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color-light);
    font-size: 80%;
}

.site-footer ul li {
    margin: 20px 0;
}

/*Desktop and Up Layout*/
@media only screen and (min-width: 768px) {


    .site-footer {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "footer footer footer footer";
    }

    .footer-nav {
        grid-area: footer;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        column-gap: 2em;
        justify-self: center;
        margin-top: auto;
        margin-bottom: auto;
        padding: 6px;
    }
}
