
/* --------------------------- */
/* BASIC SETUP */
/* --------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: solid rgb(25, 174, 201) 1px; /*TODO: Remove when done*/
}

:root {
    /*Color Pallete*/
    --primary-color: rgb(59, 59, 59);
    --secondary-color: #BFBDBE;
    --secondary-color-light: rgb(240, 240, 240);
    --secondary-color-dark: #000000; 
    --accent-color: #9B8228;
    --button-color: rgb(90, 90, 90);


    /*References*/
    --header-imgs-w: 40px;
    --header-imgs-h: 40px;

    /*Mobile Font Sizes*/
    --filters-font-size: 15px;
}

html{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
header {
    margin-bottom: 0px;
}

body{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

h1 {
    font-size: 150%;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    margin: 50px 0;
    padding: 0;
}

li {
    white-space: nowrap;
    list-style: none;
    text-align: center;
    overflow-wrap: hidden;
}

/*----- NAVIGATION LINKS -----*/
a:link,
a:visited {
    color: var(--secondary-color-light);
    text-decoration: none;
}

a:hover,
a:active {
    color: var(--accent-color);
    text-decoration: none;
    cursor: pointer;
}

/*----- BUTTONS -----*/
/*
button {
    background-color: rgb(134, 112, 31); 
    border: none;
    box-shadow: 0 2px 2px #858585;
    color: #fff;
    justify-self: end;
    padding: 6px 5%;
    cursor: pointer;
}

button:hover {
    background-color: rgb(92, 77, 22);
}*/

/* --------------------------- */
/* Site Structure */
/* --------------------------- */
#page-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    min-height: 100vh; 
}

/* --------------------------- */
/* HEADER */
/* --------------------------- */
.site-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo navbar";

    font-size: 80%;
    background-color: var(--primary-color);
    padding: 10px 0;
    position: relative;
    z-index: 9999;
}

.logo {
    grid-area: logo;
    justify-self: left;
    margin: auto 0 auto 10px;
    height: var(--header-imgs-h);
    width: var(--header-imgs-w);
}

.mobile-navbar {
    grid-area: navbar;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1em;
    justify-content: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    padding: 0;
}

/*MOBILE - ONLY*/
.mobile-nav-icon{
    margin: auto auto;
    padding: 0;
    height: var(--header-imgs-h);
    width: var(--header-imgs-w);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: none;
    background: url("https://www.dropbox.com/s/y71fbmlo4cg8krc/Char_64xnavbar-menu.png?raw=1");
    background-size: var(--header-imgs-w) var(--header-imgs-h);
}

.navbar {
    display: none;
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: none;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    display: block;
    padding: 10px;
}

.admin {
    display: none;
}

/*DESKTOP Changes*/
@media only screen and (min-width: 768px) {

    .site-header {
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: auto;
    }

    .mobile-navbar {
        display: none;
    }

    .navbar {
        position: relative;
        top: 0;
        display: grid !important;
        grid-template-columns: auto auto auto auto;
        column-gap: 5em;
        margin: auto;
        padding: 0;
        padding-right: 20px;

        justify-content: end;
    }

    .admin-navbar {
        grid-template-columns: auto auto auto auto auto;
    }


    .navbar li a {
        padding: 0;
    }
}
