
/* --------------------------- */
/* BASIC SETUP */
/* --------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: solid rgb(25, 174, 201) 1px; /*TODO: Remove when done*/
}

:root {
    /*Color Pallete*/
    --primary-color: rgb(59, 59, 59);
    --secondary-color: #BFBDBE;
    --secondary-color-light: rgb(240, 240, 240);
    --secondary-color-dark: #000000; 
    --accent-color: #9B8228;
    --button-color: rgb(90, 90, 90);


    /*References*/
    --header-imgs-w: 40px;
    --header-imgs-h: 40px;

    /*Mobile Font Sizes*/
    --filters-font-size: 15px;
}

html{
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
header {
    margin-bottom: 0px;
}

body{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

h1 {
    font-size: 150%;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    margin: 50px 0;
    padding: 0;
}

li {
    white-space: nowrap;
    list-style: none;
    text-align: center;
    overflow-wrap: hidden;
}

/*----- NAVIGATION LINKS -----*/
a:link,
a:visited {
    color: var(--secondary-color-light);
    text-decoration: none;
}

a:hover,
a:active {
    color: var(--accent-color);
    text-decoration: none;
    cursor: pointer;
}

/* --------------------------- */
/* HEADER */
/* --------------------------- */
.site-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo mobile-navbar";

    font-size: 15%;
    background-color: var(--primary-color);
    padding: 10px 0;
    width: 100%;
    position: relative;
    z-index: 1;
}

.site-header .logo {
    grid-area: logo;
    justify-self: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    height: var(--header-imgs-h);
    width: var(--header-imgs-w);
}

.site-header .mobile-navbar {
    grid-area: mobile-navbar;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1em;
    justify-content: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    padding: 0;
}

/*MOBILE - ONLY*/
.hamburger-menu-btn{
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    height: var(--header-imgs-h);
    width: var(--header-imgs-w);
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background-color: none;
    background: url("https://www.dropbox.com/s/y71fbmlo4cg8krc/Char_64xnavbar-menu.png?raw=1");
    background-size: var(--header-imgs-w) var(--header-imgs-h);
}

.profile-menu-btn{
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    height: var(--header-imgs-h);
    width: var(--header-imgs-w);
    outline: none;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    cursor: pointer;
    background: url("https://www.dropbox.com/s/btren61pt6jgxpp/Profile%20Pic.jpeg?raw=1");
    background-size: var(--header-imgs-w) var(--header-imgs-h);
}

.navbar {
    display: none;
    position: relative;
    width: 100%;
    background-color: var(--primary-color);
    overflow: hidden;
    border: none;
    z-index: 0;
}

.navbar li a {
    display: block;
    padding: 10px;
}

.profile-slide-menu {
    display: none;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas: 
    ". profile-modal-btn ."
    "profile-info profile-info profile-info"
    "view-profile-btn . sign-out-btn";

    font-family: "Open-Sans", sans-serif;
    font-size: 80%;
    background-color: var(--primary-color);
    position: relative;
    z-index: 0;
}

#change-profile-btn {
    grid-area: profile-modal-btn;
    justify-self: center;
}

.profile-info {
    grid-area: profile-info;
    justify-self: center;
    color: var(--secondary-color-light);
}

#view-profile-btn {
    grid-area: view-profile-btn;
    justify-self: right;
}

#sign-out-btn {
    grid-area: sign-out-btn;
    justify-self: left;
}

.profile-modal-btn {
    background-color: var(--button-color);
    color: var(--secondary-color-light);
    border: none;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.profile-modal-btn:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border: none;
}



/*Animations*/
@keyframes navbar-slide-down {
    from {top: -218.4px;} 
    to {top: 0px;}
}

@keyframes navbar-slide-up {
    from {top: 0px;}
    to {top: -218.4px;}
}

/*Animations*/
@keyframes profile-modal-slide-down {
    from {top: -257.2px;} 
    to {top: 0px;}
}

@keyframes profile-modal-slide-up {
    from {top: 0px;}
    to {top: -257.2px;}
}


/*DESKTOP Changes*/
@media only screen and (min-width: 768px) {


    :root {
        /*References*/
        --header-imgs-w: 48px;
        --header-imgs-h: 48px;
    }

    /*MOBILE ELEMENT REMOVAL*/
    .hamburger-menu-btn {
        display: none;
    }
    .mobile-navbar
    {
        display: none;
    }

    /*Layouts non-global*/
    .site-header {
        display: grid;
        grid-template-columns: 85px 1fr 1fr 85px;
        grid-template-rows: 48px auto auto auto;
        grid-template-areas: 
        "logo navbar profile-info profile-button"
        ". . . modal";
    }

    .site-header > .logo {
        grid-area: logo;
        justify-self: right;
        margin-top: auto;
        margin-bottom: auto;
        height: var(--header-imgs-h);
        width: var(--header-imgs-w);
    }

    .site-header > .navbar {
        grid-area: navbar;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 1em;
        justify-self: left;
        margin: 0;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 30px;
        padding: 0;
    }

    .site-header > .profile-info {
        grid-area: profile-info;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: end;
    }

    #user-profile-button{
        grid-area: profile-button;
        display: inline-block;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0;
        height: var(--header-imgs-h);
        width: var(--header-imgs-w);
        background-color: white;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        justify-self: left;
        background: url("https://www.dropbox.com/s/btren61pt6jgxpp/Profile%20Pic.jpeg?raw=1");
        background-size: var(--header-imgs-w) var(--header-imgs-h);
    }

    #dropdown-menu{
        position: absolute;
        right: 9px;
        background-color: white;
        padding: 30px;
        margin: 0px;
        z-index: 1;
        box-shadow: 0px 1px 5px black;    
        display: none;
        animation-name: dropdown-menu-open;
        animation-duration: 1s;
    }

    #dropdown-menu > li
    {
        margin-bottom: 10px;
    }

    /*Animations*/
    @keyframes dropdown-menu-open
    {
        from {opacity: 0} 
        to {opacity: 1}
    }
}
